<h1>hello django world</h1>

{% if user.is_authenticated %}
<p>환영합니다 {{user.username}}님</p>
<form action="{%url 'logout'%}" method="POST">
    {%csrf_token%}
    <input type="submit" value="로그아웃">
</form>
{% else %}
<p>로그인 해주세요</p>
<a href="{%url 'signup'%}">회원가입</a>
<a href="{%url 'login'%}">로그인</a>
{% endif %}

<a href="{%url 'create'%}"><button>글쓰기</button></a>
{%for p in posts%}
    <a href = "{%url 'read' p.id%}">
        <p> 글 제목 :  {{p.title}}</p>
    </a>
    
    <p> 글 내용 :  {{p.content|truncatewords:50}}</p>
{%endfor%}

<nav>
    <ul class="pagination">  
        {% if posts.has_previous %}
        <li class="page-item "><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
        {% endif %} 
        {% if posts.number > 2 %}
        <li class="page-item"><a class="page-link" href="?page=1">&lt;&lt;</a></li>
        {%endif%}
        {% if posts.has_next %}
        <li class="page-item ml-auto"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
        {% endif %}
    </ul>
</nav>